* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background: #030603;

    color: white;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

}


/* =========================
   HEADER
========================= */

.header {

    height: 80px;

    padding: 10px 5%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: #050805;

    border-bottom:
        1px solid #18ff45;

}


.brand {

    display: flex;

    align-items: center;

    gap: 12px;

}


.logo {

    width: 58px;

    height: 58px;

    object-fit: cover;

    border-radius: 14px;

}


.brand h1 {

    font-size: 27px;

    font-weight: 900;

    color: white;

}


.brand h1 span {

    color: #18ff45;

}


.brand p {

    color: #8d8d8d;

    font-size: 12px;

    margin-top: 3px;

}


.music {

    background: #101510;

    border:
        1px solid #1b6529;

    color: white;

    padding:
        10px 18px;

    border-radius: 25px;

}



/* =========================
   HERO
========================= */

.hero {
    height: 360px;

    position: relative;

    overflow: hidden;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    background: #030603;
}

.hero-image {

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: .35;
}

.hero::after {

    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            rgba(0,0,0,.25),
            rgba(0,10,2,.8)
        );

}


.hero-content {

    position: relative;

    z-index: 2;

}


.hero-small {

    color: #18ff45;

    font-weight: bold;

    letter-spacing: 5px;

    margin-bottom: 15px;

}


.hero h2 {

    font-size:
        clamp(40px, 7vw, 75px);

    line-height: .95;

    font-weight: 900;

}


.hero h2 span {

    color: #18ff45;

    text-shadow:
        0 0 10px #18ff45,
        0 0 30px #18ff4555;

}


.hero-content p {

    margin-top: 20px;

    color: #ccc;

}



/* =========================
   SEARCH
========================= */

.search-box {

    max-width: 900px;

    margin:
        30px auto 20px;

    padding: 0 15px;

    display: flex;

}


.search-box input {

    flex: 1;

    padding: 17px;

    border: 1px solid #235c2e;

    background: #0c100d;

    color: white;

    outline: none;

    border-radius:
        12px 0 0 12px;

    font-size: 15px;

}


.search-box button {

    padding:
        0 25px;

    border: none;

    background: #18ff45;

    color: black;

    font-weight: bold;

    border-radius:
        0 12px 12px 0;

    cursor: pointer;

}



/* =========================
   CATEGORY
========================= */

.categories {

    max-width: 900px;

    margin: auto;

    padding:
        0 15px 25px;

    display: flex;

    gap: 10px;

    overflow-x: auto;

}


.categories button {

    flex: 0 0 auto;

    background: #0b100c;

    color: #ccc;

    border:
        1px solid #245d2e;

    padding:
        11px 22px;

    border-radius: 25px;

    font-weight: bold;

    cursor: pointer;

}


.categories button:hover {

    background: #18ff45;

    color: black;

}



/* =========================
   APP SECTION
========================= */

.apps-section {

    max-width: 1000px;

    margin: auto;

    padding:
        10px 15px 50px;

}


.section-title {

    display: flex;

    align-items: center;

    gap: 12px;

    margin-bottom: 20px;

}


.title-icon {

    width: 42px;

    height: 42px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #08200c;

    border-radius: 10px;

}


.section-title h2 {

    font-size: 23px;

}


.section-title p {

    color: #777;

    font-size: 12px;

    margin-top: 4px;

}



/* =========================
   APP GRID
========================= */

.app-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 15px;

}



/* =========================
   APP CARD
========================= */

.app-card {
    background: #081008;
    border: 1px solid #174d23;
    border-radius: 12px;
    padding: 12px 8px;
    text-align: center;
    transition: 0.2s;
}

.app-card:hover {
    transform: translateY(-3px);
    border-color: #18ff45;
    box-shadow: 0 8px 20px #18ff4522;
}



/* LOGO APLIKASI */

.app-logo {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 13px;
    display: block;
    margin: 2px auto 8px;
}

/* NAMA */

.app-card h3 {

    font-size: 14px;

    margin-bottom: 5px;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}


.app-card p {

    color: #777;

    font-size: 11px;

}



/* KATEGORI */

.app-category {

    color: #18ff45;

    font-size: 9px;

    margin:
        8px 0;

}



/* LINK */

.app-link {

    display: block;

    text-decoration: none;

    background: #18ff45;

    color: #000;

    font-size: 11px;

    font-weight: bold;

    padding: 8px;

    border-radius: 7px;

    margin-top: 9px;
}

.app-link:hover {

    background: white;

}



/* =========================
   BENEFITS
========================= */

.benefits {

    max-width: 1000px;

    margin: auto;

    padding:
        20px 15px 50px;

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 12px;

}


.benefits div {

    background: #081008;

    border:
        1px solid #174d23;

    border-radius: 12px;

    padding: 18px;

    text-align: center;

}


.benefits strong {

    display: block;

    color: #18ff45;

    font-size: 13px;

}


.benefits small {

    display: block;

    color: #777;

    margin-top: 6px;

}



/* =========================
   FOOTER
========================= */

footer {

    text-align: center;

    padding: 45px 20px;

    background: #020302;

    border-top:
        1px solid #174d23;

}


footer h2 {

    font-size: 28px;

}


footer h2 span {

    color: #18ff45;

}


footer p {

    color: #777;

    margin: 8px 0 20px;

}


footer small {

    color: #444;

}



/* =========================
   TABLET
========================= */

@media(max-width: 800px) {

.app-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

}



/* =========================
   HP
========================= */

@media(max-width: 600px) {

    .header {

        height: 70px;

        padding: 8px 15px;

    }


    .logo {

        width: 48px;

        height: 48px;

    }


    .brand h1 {

        font-size: 21px;

    }


    .brand p {

        font-size: 10px;

    }


    .music {

        padding:
            8px 12px;

        font-size: 11px;

    }


    .hero {

        height: 280px;

    }


    .hero h2 {

        font-size: 42px;

    }


    .hero-small {

        font-size: 12px;

    }


 .app-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.app-card {
    padding: 9px 5px;
    border-radius: 10px;
}

.app-logo {
    width: 55px;
    height: 55px;
    border-radius: 12px;
}

    .app-card h3 {

        font-size: 11px;

    }


    .app-link {
    padding: 7px 3px;
    font-size: 10px;
}

    .benefits {

        grid-template-columns:
            repeat(2, 1fr);

    }


    .section-title h2 {

        font-size: 18px;

    }

}